


.contact{
    display: flex;
    flex-direction: row;

}

.hero {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
  font-family: cursive;
  color: white;
  font-family: fangsong;
  font-size: 2rem;
  text-transform: capitalize;
  background-color: #4A63E7;
  border-radius: 4%;
  padding: 20px;
  margin: 5%;
  
}
img {
  width: 150px;
  margin: 20px;
  border-radius: 20px;
}
h2 {
  color: black;
  text-shadow: 2px 2px rgba(240, 248, 255, 0.241);
}
a {
  color: #0b0089;
  text-decoration: none;
}
