.header {
    width: 100%;
    background: #9DB5B2;
    padding: 10px;
}

.botones {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sup{
& h2{
color: white;
text-align: center;
font-size: xxx-large;
text-transform: uppercase;
}
}
@media (min-width:900px) {
    .botones{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
}