.active{
    color: red;
    &:hover{
        color: red;
    }
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    & li{
        margin: 10px;
        text-decoration: none;
        list-style: none;
    }
}